# 로그, 임시, 빌드, 실행 결과 폴더/파일 무시
Movie/
SimOutput/
resources/project/
slprj/
src/app_tmp*.c
src/*.log
src_cm4sl/app_tmp*.c
src_cm4sl/*.log
*.sln
*.vcxproj
*.props
*.filters
*.mdl
*.slxc
*.autobackup
.road_cache/
.settings/
*.bak
# 기타 IDE/툴 관련 파일 무시
*.user
*.swp
*.tmp
*.DS_Store
Thumbs.db
# 백업 및 자동 생성 파일 무시
*~
*.old
*.backup
*.orig
